In [35]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
import pandas as pd
from sklearn.model_selection import learning_curve
from sklearn.svm import SVC
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix

In [36]:
adress_dataset = pd.read_excel(r"C:\Data\Университет\IT_volga_2024\adresses.xlsx")
adress_dataset.head()

,house_uuid,house_full_address
0,ec1709ec-7951-4fcb-af6d-5136ded6918c,"Ульяновская обл, Ульяновск г, 2-я Бутурлиных у..."
1,12637a6f-0c1e-4887-b490-8194cb267ff6,"Ульяновская обл, Ульяновск г, 9 Января пер, 7"
2,a1f8e1eb-58a0-4a51-b2cc-ae9ae8f241d7,"Ульяновская обл, Ульяновск г, 40-летия Победы ..."
3,5374af44-5513-46f5-8ead-3fe18a0d07a9,"Ульяновская обл, Ульяновск г, 40-летия Победы ..."
4,86db0857-e981-414f-863a-176d14d0acd3,"Ульяновская обл, Ульяновск г, Автозаводская ул..."

In [37]:
task_dataset = pd.read_excel(r"C:\Data\Университет\IT_volga_2024\task.xlsx")
task_dataset.head()

   shutdown_id                                            comment
0          217  Новосельдинская 7 утечка из-под земли д=100, б...
1          218                        из п/з Д=400мм ул,Шолмова 9
2          219    замена труб в подъезде ж/д отключение ГВС и ХВС
3          220  п. Новосельдинский 7- утечка из кол-ца Д 100, ...
4          221  п. Новосельдинский 6-утечка из п/з Д=150; п. Н...

In [45]:
adress_dataset = adress_dataset.assign(streetclass = '')
adress_dataset = adress_dataset.assign(street = '')
#adress_dataset.drop('street')
adress_dataset.head()

,house_uuid,house_full_address,streetclass,street
0,ec1709ec-7951-4fcb-af6d-5136ded6918c,"Ульяновская обл, Ульяновск г, 2-я Бутурлиных у...",,
1,12637a6f-0c1e-4887-b490-8194cb267ff6,"Ульяновская обл, Ульяновск г, 9 Января пер, 7",,
2,a1f8e1eb-58a0-4a51-b2cc-ae9ae8f241d7,"Ульяновская обл, Ульяновск г, 40-летия Победы ...",,
3,5374af44-5513-46f5-8ead-3fe18a0d07a9,"Ульяновская обл, Ульяновск г, 40-летия Победы ...",,
4,86db0857-e981-414f-863a-176d14d0acd3,"Ульяновская обл, Ульяновск г, Автозаводская ул...",,

In [51]:
classIterator = 0
for index, row in adress_dataset.iterrows():
    row['street'] = row['house_full_address'].split(',')[2]
    row['streetclass'] = classIterator
    if index<adress_dataset.shape[0]-1:
        if row['street'] != adress_dataset.iloc[index+1]['street']:
            classIterator+=1
    adress_dataset.iloc[index] = row
adress_dataset.head()

,house_uuid,house_full_address,streetclass,street
0,ec1709ec-7951-4fcb-af6d-5136ded6918c,"Ульяновская обл, Ульяновск г, 2-я Бутурлиных у...",0,2-я Бутурлиных ул
1,12637a6f-0c1e-4887-b490-8194cb267ff6,"Ульяновская обл, Ульяновск г, 9 Января пер, 7",1,9 Января пер
2,a1f8e1eb-58a0-4a51-b2cc-ae9ae8f241d7,"Ульяновская обл, Ульяновск г, 40-летия Победы ...",2,40-летия Победы ул
3,5374af44-5513-46f5-8ead-3fe18a0d07a9,"Ульяновская обл, Ульяновск г, 40-летия Победы ...",2,40-летия Победы ул
4,86db0857-e981-414f-863a-176d14d0acd3,"Ульяновская обл, Ульяновск г, Автозаводская ул...",3,Автозаводская ул

In [ ]:
x = adress_dataset.drop('streetclass',axis = 1)
x = x.drop('house_uuid',axis = 1)
y = adress_dataset['streetclass']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.10, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.